<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair:ital,wght@1,700&display=swap"
      rel="stylesheet" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="grid-container">
    <div class="container">
      <div class="wrapper" id="header">
        <h1><%= kindOfDay %></h1>
      </div>
      <div class="wrapper">
        <% for( let i = 0; i < newListItems.length; i++ ) { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= newListItems[i] %></p>
        </div>
        <% } %>
        <form class="" action="/" method="post">
          <input type="text" name="newItem" placeholder="Add task" autocomplete="off" autocapitalize="words"/>
          <button type="submit" name="button">+</button>
        </form>
      </div>
    </div>
  </body>
</html>
